datasets==2.18.0
faiss==1.8.0
modelscope==1.15.0
numpy==2.0.1
pandas==2.2.2
peft==0.11.1
regex==2024.4.16
Requests==2.32.3
scikit_learn==1.5.1
streamlit==1.36.0
swanlab==0.3.16
tiktoken==0.7.0
torch==2.2.2+cu118
tqdm==4.66.4
transformers==4.41.2
